@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    /* font-family */
    --font-sans: "Inter", sans-serif;

    /* default-colors layout */
    --header-color-bg: #f5f5f7;
    --body-color-bg: #f5f5f7;

    --about-page-color-bg: #e8e8e8;

    /* default colors text*/
    --color-text-title: #1d1d1f;
}
