@import "tailwindcss";

@theme {
    /* font-family */
    --font-sans:
        "SF Pro Text", "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        Helvetica, Arial, sans-serif;

    /* default-colors layout */
    --header-color-bg: #f5f5f7;
    --body-color-bg: #f5f5f7;

    /* default colors text*/
    --color-text-title: #1d1d1f;
}

@layer base {
    /* Root structure modification*/
    #root {
        @apply flex flex-col min-h-screen overflow-x-hidden;
    }
    /* Css in normal structure HTML */
    body {
        @apply bg-(--body-color-bg) antialiased text-text-title;
    }
    section {
        @apply flex flex-col justify-center  bg-(--body-color-bg) px-52 pt-4;
    }
    header {
        @apply flex justify-center bg-(--header-color-bg);
    }
}

@layer components {
    .header-content {
        @apply flex flex-row gap-20 items-center m-2;
    }
    .section-content {
        @apply flex flex-col justify-center items-center;
    }
}
