@import "tailwindcss";

@theme {
    /* font-family */
    --font-sans:
        "SF Pro Text", "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        Helvetica, Arial, sans-serif;

    /* default-colors layout */
    --header-color-bg: #f5f5f7;
    --body-color-bg: #f5f5f7;

    /* default colors text*/
    --color-text-title: #1d1d1f;
}

@layer base {
    /* Root structure modification*/
    #root {
        @apply flex flex-col min-h-screen overflow-x-hidden;
    }
    /* Css in normal structure HTML */
    body {
        @apply bg-(--body-color-bg) antialiased text-text-title;
    }
    section {
        @apply flex flex-col justify-center  bg-(--body-color-bg);
    }
    header {
        @apply flex justify-center bg-(--header-color-bg);
    }
}

@layer components {
    .header-content {
        @apply flex flex-row gap-20 items-center m-2;
    }

    /* Page main classes */
    .page-main-container {
        @apply relative flex flex-1 flex-row justify-around;
        /* Background effect */
        @apply bg-linear-to-t/oklch from-sky-100 to-slate-50;
    }
    /* text */
    .page-main-text-container {
        @apply relative left-20 flex flex-col text-balance text-justify px-16 z-1 bg-transparent;
    }
    .page-main-text-container h2 {
        @apply text-lg md:text-2xl font-bold tracking-tight py-4;
    }
    .page-main-text-container p {
        @apply text-sm md:text-2xl font-normal tracking-tight;
    }
    /* icons */
    .page-main-icons {
        @apply flex flex-row justify-center py-8 gap-x-8;
    }
    /* image */
    .page-main-image-container {
        @apply relative flex flex-col justify-center items-center px-16 mt-auto z-0 bg-transparent;
    }
}
